.update-button {
    background-color: #e5da83;
    border: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;

}

.update-button:hover {
    background-color: #45a049;
    /* Darker shade of green on hover */
}
